# Dependências e logs do Node.js
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Arquivos de sistema operacional e IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Documentação, materiais de aula e scripts de apoio (Mantidos apenas localmente)
docs/
scripts/
